body{
    background-size: cover;
}

.heading{
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    font-style:initial;
    margin-top: 0px;
    width: 100%;

}

#start_button , #number_of_objects , #status{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    font-style:initial;
}

.footer{
    position: fixed;
    color:black;
    bottom: 0;
    width: 100%;
    background-color: white;
    line-height: 30px;
    text-align: center;

}

canvas{
border-style: solid;
   border-color: rgb(0, 225, 255);
   margin-top: 78px;
   border-radius: 5%;
   
}